# Terraform local cache
.terraform/

# Terraform lock file
.terraform.lock.hcl

# Local state files
*.tfstate
*.tfstate.*

# Logs
crash.log
*.tfvars
!envs/dev/dev.tfvars
!envs/dev/dev.auto.tfvars

# IDE / OS files
.DS_Store

# Contributor/agent guide
AGENTS.md
